.createRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
}
label {
  font-size: 1.5rem;
  margin: 0.5rem;
}
input {
  background-color: aliceblue;
  width: 20rem;
  height: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 5px;
  padding-left: 0.8rem;
}
